<div class="container">
  <h2 class="title-lg mb">Вопросы</h2>

  <% @questions.each do |question| %>
    <% if question.hidden? %>
      <p class="mb-sm hidden"><%= link_to "Вопрос #{question.id}", question_path(question) %></p>
    <% else %>
      <p class="mb-sm"><%= link_to "Вопрос #{question.id}", question_path(question) %></p>
    <% end %>
  <% end %>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>
