body {
  color: #03071E;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
  color: #DC2F02;
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125;
}

.text-sm {
  font-size: 80%;
}

.hidden {
  opacity: 0.5;
}

.text-grey {
  color: #a0a0a0;
}

.askme-style {
  border: 2px solid #ffba08;
  border-radius: 5px;
  color: #ffba08;
  font-weight: bold;
  padding: 3px;
}
