.user-box {
  align-items: center;
  background-color: #f48c06;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-box a {
  color: #fff;
}