.users-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-box-user {
  flex-basis: 100px;
  flex-grow: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.users-box-user a {
  color: #fff;
  text-decoration: none;
}

.users-box-user-bg0 {
  border: 4px solid #d00000;
}

.users-box-user-bg1 {
  border: 4px solid #18053E;
}

.users-box-user-bg2 {
  border: 4px solid #ffba28;
}

.users-box-user-bg3 {
  border: 4px solid #6A090F;
}

.users-box-user-bg4 {
  border: 4px solid #f18c09;
}
